NEXTAUTH_SECRET=htIUPUPdaB8GKKp4h7KozXGPieq0Wfdgl9BVEUgF0dk=
NEXTAUTH_URL = http://localhost:3000
NEXT_PUBLIC_BASEURL = https://admin.shrewdbs.com
# NEXT_PUBLIC_BASEURL = http://localhost:4000
# GOOGLE_CLIENT_ID =466683152170-endo6jsq0kt6fpaq9bn38mm4g4g3o2sb.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET =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